<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\styles.css">
    <title>todolist</title>
</head>
<body>
    <div class="box">
        <h1>Welcome to todolist</h1>
    </div>
    
    <div class="box">
      <%  listItems.forEach(item => { %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= item %></p>
            </div>
      <%  }) %>
        
      <form action="" method="post">
          <input type="text" name="listItem" id="">
          <button type="submit" class="button">+</button>
      </form>
      
    </div>
   
</body>
</html>